Pivot Tables

In [1]:
import pandas as pd

In [5]:
data = {

    'Store':['A','A','B','B','C','C'],
    'Product':['Apples','Oranges','Apples','Oranges','Apples','Oranges'],
    'Sales':[100,150,90,120,80,130]
}

df = pd.DataFrame(data)

In [6]:
pivot = pd.pivot_table(df,values='Sales',index='Store',columns='Product',aggfunc='mean')

In [7]:
pivot

Product  Apples  Oranges
Store
A         100.0    150.0
B          90.0    120.0
C          80.0    130.0